@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  font-family: 'Newsreader', serif;
}



/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Selection color */
::selection {
  background-color: rgba(66, 153, 240, 0.3);
  color: #4299f0;
}
